database.cpython-312.pyc
main.cpython-312.pyc
produto_controller.cpython-312.pyc
produto_model.cpython-312.pyc
produto_repository.cpython-312.pyc
produto_route.cpython-312.pyc
produto_schema.cpython-312.pyc
produto_service.cpython-312.pyc
